[app:main]
use = egg:ScratchWire.com
db.uri = sqlite://changeme
debug = true
session.key=dummy
session.type=filesystem
scratchwire.email.smtp_server=localhost
#scratchwire.email.smtp_port=25
scratchwire.email.smtp_login=user
scratchwire.email.smtp_pass=pass
scratchwire.email.smtp_tls=true
scratchwire.email.default_sender=noreply@scratchwire.com
#scratchwire.verify_expires_days=7
#scratchwire.alias_expires_days=7
#scratchwire.alias_count=3

[server:main]
use = egg:PasteScript#wsgiutils
host = 0.0.0.0
port = 8080
